/*--------------general rules--------------*/

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

/*----------------------------------------*/

.container{
    display: flex;
    flex-wrap: wrap;
}


/*--------------navigation area---------------*/

.navigation{
    background-color: indianred;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation__logo{
    width: 160px;
    height: 160px;
}

.navIcons{
    display: none;
    width: 48px;
    height: 48px;
}

.menuNav{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.social{
    display: none;
}

/*-----------background image------------*/

.bg{
    background-color: lightsalmon;
    height: 250px;
    flex-basis: 100vw;
}

.tags{
    display: none;
}
.tagsText{
    display:none;
}

/*-----------subscribe area------------*/

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lemonchiffon;
}
.subIcon{
    width: 48px;
    height: 48px;
}

.subscribeText{
    display: flex;
    align-items: center;
}
form{
    display: flex;
    height: 30px;
}

/*-----------all content here------------*/

.elements{
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.web .elements li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodImg{
    height: 168px;
    width: 252px;
}

.underImgText{
    display: flex;
    flex-wrap: wrap;
}

/*-----------footer------------*/

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: lightskyblue;
    justify-content: space-between;
}

.footerMenu{
    display: flex;
}

.socialIcons{
    display: flex;
}

.footerSocials{
    width: 48px;
    height: 48px;
}

footer .footerMenu li a{
    font-size: 10px;
}

footer p.copywrite{
    font-size: 10px;
}

/*----------------------switch 530px-----------------------*/

@media all and (min-width: 530px) {
    
/*--------------navigation area---------------*/
    
    .navigation{
        flex-grow: 1;
        flex-direction: row-reverse;
        align-items: center;
        
    }
    
/*----------------subscribe area------------*/
    input{
        display: flex;
        flex-basis: 60%;
    }
    
/*--------------all content here---------------*/

    .elements{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .elements li{
        flex-basis: 45%;
    }
    
}


/*----------------------switch 770px-----------------------*/

@media all and (min-width: 770px) {
    
    /*--------------navigation area---------------*/
    
    .navIcons{
        display: flex;
    }
    
    .container .navigation .menuNav li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /*--------------background image---------------*/
    
    .tags{
        display: flex;
        flex-grow:1;
        justify-content: space-around;
        background-color: hotpink;
        height: 40px;
        align-items: center;
    }
    
    /*--------------subscribe area---------------*/
    .subscribe{
        flex-direction: row;
    }
    .subscribeText{
        flex-grow: 1;
    }
    
    /*----------------all content------------*/
    
    .web .elements li{
        flex-basis: 23%;
    }
    .foodImg{
        width: 170px;
        height: 100px;
    }
    
}

/*----------------------switch 950px-----------------------*/

@media all and (min-width: 950px) {
    
    /*----------------top navigation------------*/
    .navigation{
        flex-direction: column;
        flex-basis: 15%;
    }
    .menuNav{
        flex-direction: column;
    }
    .navigation__logo{
        order: -1;
    }
    .tweets{
        display: flex;
        flex-direction: column;
    }
    .social{
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
    }
    
    .socialText{
        font-size: 12px;
    }
   /*----------------all content------------*/
    
    .allContent{
        flex-basis: 70%;
    }
    
}

/*----------------------switch 1100px-----------------------*/

@media all and (min-width: 1100px) {
    .tags{
        height: 80px;
        align-items: flex-start;
    }
    .tagsText{
        display:flex;
        font-size: 12px;
        color: blue;
    }
    
    
}












